nav a {
  font-size: 16px;
}

nav h4 {
  font-size: 19px;
}

.anime {
  color: white;
  line-height: 1.5;
  letter-spacing: 1.2px;
  margin-bottom: 9px;
}

.anime img {
  margin-bottom: 6px;
}

.anime .title {
  width: 76%;
  text-overflow: clip;
  text-align: center;
  font-size: 15px;
}

.anime .score {
  font-size: 19px;
}
