/* removes the outline */
@import url(http://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);
.btn:focus, .btn:active, .btn:active:focus {
  outline: none;
}

nav {
  padding: 8px 0 0 0;
}

nav a {
  font-size: 16px;
}

nav h4 {
  font-size: 19px;
  padding-right: 50px;
}

nav button {
  margin-right: 50px;
}

.paymessage {
  font-size: 21px;
  font-weight: bold;
  color: #2D63BA;
}

.anime {
  color: white;
  line-height: 1.5;
  letter-spacing: 1.2px;
  margin-bottom: 9px;
}

.anime img {
  margin-bottom: 6px;
}

.anime .title {
  width: 76%;
  text-overflow: clip;
  text-align: center;
  font-size: 15px;
}

.anime .score {
  font-size: 19px;
}

.user-profile {
  margin: auto;
  width: 25em;
  height: 11em;
  background: #fff;
  border-radius: .3em;
}

.user-profile .username {
  margin: auto;
  margin-top: -4.40em;
  margin-left: 5.80em;
  color: #658585;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}

.user-profile .bio {
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  color: #e76043;
  font-size: .87em;
  font-family: "varela round", sans-serif;
}

.user-profile > .description {
  margin: auto;
  margin-top: 1.35em;
  margin-right: 4.43em;
  width: 14em;
  color: #c0c5c5;
  font-size: .87em;
  font-family: "varela round", sans-serif;
}

.user-profile > img.avatar {
  padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}

.formBox {
  width: 350px;
  height: 480px;
  margin: auto;
  text-align: center;
  list-style: none;
  padding: 47px 20px 10px 10px;
  background: #CCCCCC;
  border-radius: 0px;
  border: 1px solid #fff;
  border-radius: 0px;
  -webkit-box-shadow: 5px 5px 10px 1px #303030;
  box-shadow: -1px -1px 15px 1px #303030;
}

.formBox input {
  background: #fff;
  disply: block;
  width: 300px;
  padding: 20px;
  margin: 10px;
  font: 15px Georgia;
  border: 0px;
  border-bottom: 1px solid #c9c9c9;
  border-radius: 0px;
}

.formBox [type=submit] {
  margin-top: 25px;
  width: 250px;
  padding: 12px;
  border: 0px;
  background: #446CB3;
  border-radius: 0px;
  color: white;
  font-weight: 400;
  font: 18px Georgia;
  font-weight: bold;
  border: 2px solid #446CB3;
}

.formBox [type=submit]:hover {
  border-color: #446CB3;
  cursor: pointer;
}

.formBox form a {
  text-decoration: none;
}
