<!-- Show all anime -->
<section class="container-fluid">
  <div class="row" ng-repeat="letter in anime.all track by $index" ng-if="$index % 4 == 0">
    <div class="col-sm-3 letter-box" 
         ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]" 
         ng-if="anime.all[i] != null">
      <div class="anime">
        <p class="score"> Score: {{anime.all[i].rating}} </p>
        <a ui-sref="oneAnime({animeId: anime.all[i]._id})" ng-if="user.loggedIn()">
          <img ng-src="{{anime.all[i].picture}}" class="img-responsive">
        </a>
        <a ng-if="!user.loggedIn()">
          <img ng-src="{{anime.all[i].picture}}" class="img-responsive">
        </a>
        <p class="title"> {{anime.all[i].title}} </p>
      </div>
    </div>
  </div>
</section>

<!-- <div ng-repeat="oneAnime in anime.all">
  <a ui-sref="oneAnime({animeId: oneAnime._id})" ng-if="user.loggedIn()">
    <img ng-src="{{oneAnime.picture}}" class="img-responsive">
  </a>
  <a ng-if="!user.loggedIn()">
    <img ng-src="{{oneAnime.picture}}" class="img-responsive">
  </a>
  <div> {{oneAnime.title}} </div>
  <div> Score: {{oneAnime.rating}} </div>
  <div> Episodes: {{oneAnime.episodes}} </div>
</div> -->