<!-- Selected Anime -->
<div class="row oneAnime">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="title"> {{anime.selectedAnime.title}} </div>
    <img ng-src="{{anime.selectedAnime.picture}}" class="img-responsive image">
    <div class="score"> 
      Score: {{anime.selectedAnime.rating}} 
      <span>
        <!-- Facebook Share -->
        <button class="btnz facebook" ng-click="anime.share(anime.selectedAnime)">SHARE</button>
      </span>
    </div>
    <p class="description"> {{anime.selectedAnime.description}} </p>
  </div>
</div>

<section>

  <!-- Show all comments -->

  <!-- Contenedor Principal -->
    <div class="comments-container">
      <h1>Comments</h1>

      <!-- Create New Comments -->
      <form ng-submit="anime.createComment(anime.selectedAnime._id)">
        <input type="text" name="title" placeholder="Title" ng-model="anime.commentModel.title">

        <input type="text" name="content" placeholder="Content" ng-model="anime.commentModel.content">

        <input type="submit" value="Submit" class="btn btn-sm btn-primary blue-submit">
      </form>

      <ul id="comments-list" class="comments-list" ng-if="anime.selectedAnime.comments.length > 0">
        <li ng-repeat="comment in anime.selectedAnime.comments">
          <div class="comment-main-level">
            <!-- Comment Box -->
            <div class="comment-box">
            
              <!-- Checks to see if comment is going to be edited -->
              <div ng-if="anime.selectedEdit._id !== comment._id">

                <div class="comment-head">
                  <h6 class="comment-name by-author">
                    {{comment.user.username}}
                  </h6>
                  <!-- Check if user id === comment.user -->
                  <div ng-if="anime.userToken._id === comment.user._id">
                    <button ng-if="anime.selectedEdit._id !== comment._id" ng-click="anime.selectEdit(comment)" class="btn btn-sm btn-info">  
                      Edit
                    </button>
                    <button class="btn btn-sm btn-danger" ng-click="anime.removeComment(comment)">Delete</button>
                  </div>
                </div>
                <div class="comment-content">
                  <span>{{comment.title}}</span>
                  <p>{{comment.content}}</p>
                </div>

              </div>


              <form ng-if="anime.selectedEdit._id === comment._id" ng-submit="anime.editComment()">
                <input name="title" ng-value="anime.selectedEdit.title" ng-model="anime.commentEditModel.title">
                <input name="content" ng-value="anime.selectedEdit.content" ng-model="anime.commentEditModel.content">
                <input type="submit" value="Submit" class="btn btn-sm btn-primary blue-submit">
              </form>

            </div>
          </div>
        </li>
      </ul>
    </div>

</section>

