<div>
  <img ng-src="{{anime.selectedAnime.picture}}" class="img-responsive">
  <div> {{anime.selectedAnime.title}} </div>
  <div> Score: {{anime.selectedAnime.rating}} </div>
  <div> Episodes: {{anime.selectedAnime.episodes}} </div>
  <p> {{anime.selectedAnime.description}} </p>
</div>

<section>
  <form ng-submit="user.login()">
    <input type="text" name="email" placeholder="What is your email?" ng-model="user.user.email">

    <input type="password" name="password" placeholder="What is your password?" ng-model="user.user.password">

    <input type="submit" value="Login">
  </form>

  <ul>
    <li ng-repeat="comment in anime.selectedAnime.comments">
      {{comment.title}} <br>
      {{comment.content}}
    </li>
  </ul> 
</section>

