<!-- Selected Anime -->
<div class="row oneAnime">
  <div class="col-sm-4">
    <div class="title"> {{anime.selectedAnime.title}} </div>
    <img ng-src="{{anime.selectedAnime.picture}}" class="img-responsive image">
    <div class="score"> 
      Score: {{anime.selectedAnime.rating}} 
      <span>
        <!-- Facebook Share -->
        <button class="btnz facebook" ng-click="anime.share(anime.selectedAnime)">SHARE</button>
      </span>
    </div>
    <p class="description"> {{anime.selectedAnime.description}} </p>
  </div>
</div>

<section>
  <h3>Comments</h3> 
  <!-- Create New Comments -->
  <form ng-submit="anime.createComment(anime.selectedAnime._id)">
    <label>Title</label>
    <input type="text" name="title" placeholder="Title" ng-model="anime.commentModel.title">

    <label>Content</label>
    <textarea name="content" placeholder="Content" ng-model="anime.commentModel.content"></textarea>

    <input type="submit" value="Submit">
  </form>

  <!-- Show all comments -->

  <!-- Contenedor Principal -->
    <div class="comments-container">
      <h1>Comments</h1>

      <ul id="comments-list" class="comments-list">
        <li>
          <div class="comment-main-level">
            <!-- Avatar -->
            <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
            <!-- Contenedor del Comentario -->
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name by-author">Agustin Ortiz</h6>
              </div>
              <div class="comment-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>


  <ul>
    <li ng-repeat="comment in anime.selectedAnime.comments">

      <!-- Show one comment -->
      <div ng-if="anime.selectedEdit._id !== comment._id">
        {{comment.title}} <br>
        <p>{{comment.content}}</p>
        User: {{comment.user.username}}
        <img ng-src="{{comment.user.picture}}">
      </div>

      <!-- Edit From -->
      <form ng-if="anime.selectedEdit._id === comment._id" ng-submit="anime.editComment()">
        <input name="title" ng-value="anime.selectedEdit.title" ng-model="anime.commentEditModel.title">
        <input name="content" ng-value="anime.selectedEdit.content" ng-model="anime.commentEditModel.content">
        <input type="submit" value="Submit">
      </form>

      <!-- Check if user id === comment.user -->
      <div ng-if="anime.userToken._id === comment.user._id">
        <button ng-if="anime.selectedEdit._id !== comment._id" ng-click="anime.selectEdit(comment)">  
          Edit
        </button>
        <button ng-click="anime.removeComment(comment)">Delete</button>
      </div>

    </li>
  </ul> 
</section>

