<!-- Show User -->
<h2>Profile</h2>
{{user.userToken.username}} <br>
{{user.userToken.local.email}} <br>
<img ng-src="{{user.userToken.picture}}" alt="user-image">
<button ng-click="user.profileEditFormToggle()">Edit</button>
<!-- Edit From -->
<form ng-if="!user.profileEditForm" ng-submit="user.editUser(user.userToken)">
  <input name="username" ng-value="user.userToken.username" ng-model="user.userEditData.username">
  <input name="picture" ng-value="user.userToken.picture" ng-model="user.userEditData.picture">
  <input type="password" name="password" ng-model="user.userEditData.password">
  <input type="submit" value="Submit">
</form>