/* =====================
    Removes outline
 ========================*/
.btn:focus, .btn:active, .btn:active:focus {
    outline: none;
}

/* =====================
    Body
 ========================*/
body {
  background: #2d353d;
  font-family: helvetica neue, sans-serif;
  background: url('http://dir.agosto.nl/dump/profile.png');
}

/* =====================
    Navbar
 ========================*/
nav {

  padding: 8px 0 0 0;

  a {
    font-size: 16px;
  }

  h4 {
    font-size: 19px;
    padding-right: 50px;
  }

  button {
    margin-right: 50px;
  }

}

/* =====================
    Payment
 ========================*/
.paymessage {
  font-size: 21px;
  font-weight: bold;
  color: #2D63BA;
}

/* =====================
    All anime Page
 ========================*/
.anime {
  color: white;
  line-height: 1.5;
  letter-spacing: 1.2px;
  margin-bottom: 9px;

  img {
    margin-bottom: 6px;
  }

  .title{
    width: 76%;
    text-overflow: clip;
    text-align: center;
    font-size: 15px;
  }

  .score {
    font-size: 19px;
  }
}

/* =====================
    One Anime Page
 ========================*/
.oneAnime {
  color: white;
  line-height: 1.5;
  letter-spacing: 1.2px;
  margin: 0 auto;
  text-align: center;

  .title{
    font-size: 19px;
  }
  .image {
    margin: 13px auto;
  }

  .btnz {
   padding: 4px 14px;
   border:none;
   text-decoration: none;
   font-size: 15px;
   color: #FFF;
   outline: none;

   &:hover {
    color: #efefef;
   }

  }

  .facebook {
    background-color: #3b5998;
  }

  .description {
    margin-top: 13px;
  }
}

/* =====================
    Comments
 ========================*/

  // * {
  //   margin: 0;
  //   padding: 0;
  //   -webkit-box-sizing: border-box;
  //   -moz-box-sizing: border-box;
  //   box-sizing: border-box;
  // }

// Biggests Comments Container
 .comments-container {
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
  margin: 60px auto 15px;
  width: 768px;

  ul {
   list-style-type: none;
  }

  h1 {
    font-size: 36px;
    color: #fff;
    font-weight: 400;
    text-align: center;

   }

  form {
    text-align: center;
  }

 }

 .comments-list {
  margin-top: 30px;
  position: relative;

  &:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
  }

  &:after {
   content: '';
   position: absolute;
   background: #c7cacb;
   bottom: 0;
   left: 27px;
   width: 7px;
   height: 7px;
   border: 3px solid #dee1e3;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
  }

  li {
    margin-bottom: 15px;
    display: block;
    position: relative;

    &:after {
      content: '';
      display: block;
      clear: both;
      height: 0;
      width: 0;
     }

   }

}

 .comment-main-level:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
 }

 /**
  * Comment Box
  ---------------------------*/
  .comment-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);


    &:before, &:after {
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      display: block;
      border-width: 10px 12px 10px 0;
      border-style: solid;
      border-color: transparent #FCFCFC;
      top: 8px;
      left: -11px;
    }

    &:before {
      border-width: 11px 13px 11px 0;
      border-color: transparent rgba(0,0,0,0.05);
      left: -12px;
    }
  
    .comment-head {
      background: #FCFCFC;
      padding: 10px 12px;
      border-bottom: 1px solid #E5E5E5;
      overflow: hidden;
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;

      i {
        float: right;
        margin-left: 14px;
        position: relative;
        top: 2px;
        color: #A6A6A6;
        cursor: pointer;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
      
        &:hover {
          color: #03658c;
        }

      }

    }

    .comment-name {
      color: #283035;
      font-size: 14px;
      font-weight: 700;
      float: left;
      margin-right: 10px;

      a {
        color: #283035;
      }

      span {
       float: left;
       color: #999;
       font-size: 13px;
       position: relative;
       top: 1px;
     }

   }

   .comment-content {
     background: #FFF;
     padding: 12px;
     font-size: 15px;
     color: #595959;
     -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
     border-radius: 0 0 4px 4px;

     span {
      text-decoration: underline;
     }

   }

   .comment-name.by-author, .comment-name.by-author a {
    color: #03658c;
  }

} 

  // Responsive
 @media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }
 }


/* =====================
    Profile Page
 ========================*/
section.profile {
  margin: 0 auto;
  position: relative;
  width: 325px;
  border: 2px solid #171a1f;
  border-radius: 8px;
  text-transform: uppercase;
  
  &::after {
    display: block;
    position: absolute;
    top: 100%;
    left: 3%;
    z-index: -1;
    width: 94%;
    height: 1px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    content: '';
  }
}

.profile-header {
  height: 140px;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  background: #e8decd;
  
  img {
    object-fit: cover;
  }
}

.profile-content {
  padding: 0 30px 30px;
  border-radius: 0 0 5px 5px;
  color: #e7e0cf;
  text-align: center;
  background: #2f363e;
  
  img {
    $image-size: 150px;
    margin-top: (0 - ($image-size / 2));
    width: $image-size;
    height: $image-size;
    border: 5px solid #e7e0cf;
    border-radius: 100%;
    background: #e7e0cf;
  }
  
  h1 {
    margin: 25px 0 0;
    font-size: 1.4em;
    font-weight: 200;
    letter-spacing: 0.05em;
  }
  
  p {
    margin: 5px 0 0;
    color: #b49e6b;
    font-size: 0.8125em;
    font-weight: 200;
  }

  button {
    margin-top: 25px;
    padding: 10px 20px;
    min-width: 160px;
    background: #c54b30;
    border: 1px solid #171c22;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 0 #d16e59;
    color: #e7e0cf;
    font-family: inherit;
    font-size: 0.8em;
    font-weight: 600;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    transition: background ease-out 0.15s;
    
    &:hover,
    &:focus {
      background: darken(#c54b30, 6%);
    }
    
    &:focus {
      outline: none;
    }
    
    &:active {
      background: darken(#c54b30, 12%);
      transition: none;
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    border-top: 1px solid #171a1f;
    border-radius: 0 0 7px 7px;
    list-style: none;
    background: #2f363e;
    
    li {
      display: flex;
      flex: 0 1 50%;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #3e424d;
      padding: 20px 10px;
      color: #c54b30; // 8a8a8a
      font-weight: 600;
      font-size: 1.2em;
      
      & + li {
        border-left: 1px solid #171a1f;
        box-shadow: -1px 0 0 #3e424d;
      }
    }
    
    span {
      display: inline-block;
      margin-left: 0.4em;
      color: #a9a9a9;
      font-weight: 300;
      font-size: 0.8em;
    }
  }

}

/* =====================
    Login, Signup Form 
 ========================*/
.formBox{
  width: 350px;
  height: 480px;
  margin: auto;
  text-align: center;
  list-style: none;
  padding: 47px 20px 10px 10px;
  background:#2E2E3D;
  border-radius: 0px;
  border: 1px solid black;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px 1px #303030;
  box-shadow: -1px -1px 15px 1px #303030;

  input { 
    background: #fff;
    disply: block;
    width: 300px;
    padding: 20px;
    margin: 10px;
    font: 15px Georgia;
    border: 0px;
    border-bottom: 1px solid #c9c9c9;
    border-radius: 0px;
  }


  [type=submit] {
    margin-top: 25px;
    width: 250px;
    padding: 12px;
    border: 0px;
    background: #c54b30;
    border: 1px solid #171c22;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 0 #d16e59;
    color: #e7e0cf;
    font-weight: 600;
    font-family: inherit;

    &:hover,
    &:focus {
      background: darken(#c54b30, 6%);
    }
    
    &:focus {
      outline: none;
    }
    
    &:active {
      background: darken(#c54b30, 12%);
      transition: none;
    }
  }

  form a {
    text-decoration: none;
  }
}