/* removes the outline */
.btn:focus, .btn:active, .btn:active:focus {
    outline: none;
}

// Navbar
nav {

  padding: 8px 0 0 0;

  a {
    font-size: 16px;
  }

  h4 {
    font-size: 19px;
    padding-right: 50px;
  }

  button {
    margin-right: 50px;
  }

}

// Payment
.paymessage {
  font-size: 21px;
  font-weight: bold;
  color: #2D63BA;
}

// All anime Page
.anime {
  color: white;
  line-height: 1.5;
  letter-spacing: 1.2px;
  margin-bottom: 9px;

  img {
    margin-bottom: 6px;
  }

  .title{
    width: 76%;
    text-overflow: clip;
    text-align: center;
    font-size: 15px;
  }

  .score {
    font-size: 19px;
  }
}

// Profile Page

section.profile {
  position: relative;
  width: 325px;
  border: 1px solid #171a1f;
  border-radius: 8px;
  text-transform: uppercase;
  
  &::after {
    display: block;
    position: absolute;
    top: 100%;
    left: 3%;
    z-index: -1;
    width: 94%;
    height: 1px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    content: '';
  }
}

.profile-header {
  height: 140px;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  background: #e8decd;
  
  img {
    object-fit: cover;
  }
}

.profile-content {
  padding: 0 30px 30px;
  border-radius: 0 0 5px 5px;
  color: #e7e0cf;
  text-align: center;
  background: #2f363e;
  
  img {
    $image-size: 150px;
    margin-top: (0 - ($image-size / 2));
    width: $image-size;
    height: $image-size;
    border: 5px solid #e7e0cf;
    border-radius: 100%;
    background: #e7e0cf;
  }
  
  h1 {
    margin: 25px 0 0;
    font-size: 1.4em;
    font-weight: 200;
    letter-spacing: 0.05em;
  }
  
  p {
    margin: 5px 0 0;
    color: #b49e6b;
    font-size: 0.8125em;
    font-weight: 200;
  }

  button {
    margin-top: 25px;
    padding: 10px 20px;
    min-width: 160px;
    background: #c54b30;
    border: 1px solid #171c22;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 0 #d16e59;
    color: #e7e0cf;
    font-family: inherit;
    font-size: 0.8em;
    font-weight: 600;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    transition: background ease-out 0.15s;
    
    &:hover,
    &:focus {
      background: darken(#c54b30, 6%);
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        inset 0 1px 0 0 #d16e59,
        0 0 0 3px #e7e0cf;
    }
    
    &:active {
      background: darken(#c54b30, 12%);
      transition: none;
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    border-top: 1px solid #171a1f;
    border-radius: 0 0 7px 7px;
    list-style: none;
    background: #2f363e;
    
    li {
      display: flex;
      flex: 0 1 50%;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #3e424d;
      padding: 20px 10px;
      color: #c54b30; // 8a8a8a
      font-weight: 600;
      font-size: 1.2em;
      
      & + li {
        border-left: 1px solid #171a1f;
        box-shadow: -1px 0 0 #3e424d;
      }
    }
    
    span {
      display: inline-block;
      margin-left: 0.4em;
      color: #a9a9a9;
      font-weight: 300;
      font-size: 0.8em;
    }
  }

}


// Basics
// html {
//   height: 100%;
//   background: #2d353d;
// }

// body {
//   display: flex;
//   margin: 0;
//   padding: 20px;
//   min-height: 100%;
//   box-sizing: border-box;
//   align-items: center;
//   justify-content: center;
//   font-family: helvetica neue, sans-serif;
//   background: url('http://dir.agosto.nl/dump/profile.png');
// }


// Login, Signup Form 
.formBox{
  width: 350px;
  height: 480px;
  margin: auto;
  text-align: center;
  list-style: none;
  padding: 47px 20px 10px 10px;
  background:#CCCCCC;
  border-radius: 0px;
  border: 1px solid #fff;
  border-radius: 0px;
  -webkit-box-shadow: 5px 5px 10px 1px #303030;
  box-shadow: -1px -1px 15px 1px #303030;

  input { 
    background: #fff;
    disply: block;
    width: 300px;
    padding: 20px;
    margin: 10px;
    font: 15px Georgia;
    border: 0px;
    border-bottom: 1px solid #c9c9c9;
    border-radius: 0px;
  }

  [type=submit] {
    margin-top: 25px;
    width: 250px;
    padding: 12px;
    border: 0px;
    background: #446CB3;
    border-radius: 0px;
    color: white;
    font-weight: 400;
    font: 18px Georgia;
    font-weight: bold;
    border: 2px solid #446CB3;

    &:hover {
      border-color: #446CB3;
      cursor: pointer;
    }
  }

  form a {
    text-decoration: none;
  }
}